<div class="card">
    <form class="video-form" (ngSubmit)="onSubmit()" #videoForm="ngForm">
        <label for="name">Video Title</label>
        <input type="text" [(ngModel)]="video.videoName"
            class="form-control" id="name" name="name" placeholder="Enter Video Title:"
            required>
        <label for="description">Video Description </label>
        <textarea type="text" [(ngModel)]="video.videoDescription"
            class="form-control" id="description" name="description" rows="6"
            placeholder="Please enter description of video"
            required>
        </textarea>
        <input (change)="onFileChange($event)" type="file" name="fileUpload" id="fileUpload">
        <button type="submit"class="button">Send Video!</button>
    </form>
</div>
